.business-card{
/*  margin: 16px; */
  width: 191px;
  height: 120px;
  border: 1px solid;
  display: block;
  background:transparent url('../content/img/business_card_1_small.png') center top no-repeat;
}
.business-card:hover{
  background-image: url('../content/img/business_card_1_small.png') ;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .business-card{
    width: 383px;
    height: 240px;
    background:transparent url('../content/img/business_card_1.png') center top no-repeat;
  }
  .business-card:hover{
    background-image: url('../content/img/business_card_1.png') ;
  }
}

